<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANTHROPIC_KEY</key>
	<string>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</string>
</dict>
</plist>
